.footer{
    background:$dark-blue-color;
    color: white;

    .uk-grid{
        > div{
            h2{
                color: #f90;
            }
            .uk-icon-color-blue{
                color: #0099CC;
                margin-right: 12px;
            }
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
