#navigation{
    background: white;
    border-bottom: 1px solid #0099CC;

    #logo {
        display: none;
    }

    .menu-primary-container{
        text-align: center;

        ul#menu-primary.menu{
            list-style: none;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li{
                display: inline-block;

                a{
                    font-family: "Catamaran";
                    font-size: 17px;
                    display: inline-block;
                    padding:30px 14px 20px;
                    min-height:28px;
                    text-decoration: none;
                    color: #333;

                    &:hover{
                        background:#33B5E5 url('images/menu_arrow_up.png') no-repeat center bottom;
                        padding-bottom: 10px;
                        border-bottom: 10px #0099CC solid;
                        color: white;
                    }
                }
                .selected{
                    a{}
                }
                &.top-link{
                    float:right;

                    a{
                        background: white url('images/menu_arrow_up.png') no-repeat center bottom;
                        padding-bottom: 10px;
                        border-bottom: 10px #0099CC solid;
                        color: #f90;
                    }
                }
            }
        }
    }
}
