.services{
    .title-container{
        text-align: center;
        margin-top: -18px;

        h2.title{
            display: inline-block;
            padding: 5px 14px;
            border-radius: 4px;
            font-family: "Catamaran";
            background: #0099CC;
            color: white;
        }
    }
    .uk-grid{

        div{
            .icon-container{
                text-align: center;

                .icon{
                    display: inline-block;
                    height: 75px;
                    width:75px;
                    margin: 0 auto;
                    background: #0099CC;
                    padding: 12px;
                    border-radius: 50%;
                    border: #0099CC 8px solid;
                    color: white;

                    [class*='uk-icon']{
                        text-shadow: -3px 3px 0px #33B5E5;
                    }
                }
            }
            h2,h3{
                text-align: right;
            }
        }
    }
}

