.text_block{
    &.variant-light{
        background:white;
    }
    &.variant-dark{
        background:$dark-blue-color;
        color:white;
        h2, h3{
            color: #f90;
        }
    }
}
