/** Colours */
$white-color: white;
$dark-blue-color: #2E3A5A;

/** Dimensions */
$navigation-height: 50px;

/** Adjust font path for bower components */
$icon-font-path: "bower_components/uikit/fonts";
