
/**
 * Fonts
 */
@import "https://fonts.googleapis.com/css?family=Catamaran";
@import "https://fonts.googleapis.com/css?family=Roboto";


/**
 * Add third party assets here
 */
@import "_variables";
@import "../../bower_components/uikit/scss/uikit-mixins";

@import "../../bower_components/uikit/scss/uikit";
@import "../../bower_components/uikit/scss/components/sticky";




@import "_navigation";
@import "_footer";
@import "_hero_banner";
@import "_services";
@import "_two_columns";
@import "_text_block";
@import "_blog_feed";


html, body{
    margin:0;
    padding:0;
    font-size:14px;
    color: #333;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Catamaran";
    color: inherit;
}
h1{
    font-size: 2.75em;
}
h2{
    font-size:1.75em;
}
h3{}
h4,h5{
    font-size: 1.25em;
}
h6{
    font-size: 1em;
}
p{}

div, header, aside, article, button, form, input, select, textarea{
    box-sizing: border-box;
}


// .three_columns{
//     max-width:970px;
//     padding-bottom: 20px;
//     box-sizing: border-box;
//     /*background-color: #2E3E4E;*/
//     /*color:#FDFDFD;*/
// }
// .three_columns .title{
//     margin-top:-15px;
//     margin-bottom:20px;
//     text-align: center;
// }
// .three_columns .title h2{
//     display: inline-block;
//     margin:0;
//     padding:4px 22px;
//     background: #0099cc;
//     border-radius: 4px;
//     /*border:white 1px solid;*/
//     color: white;
//     text-transform: uppercase;
//     font-size: 1.25em;
//     font-weight:normal;
// }
// .three_columns .article__text{
//     box-sizing: border-box;
//     border: 1px solid;
//     border-radius: 6px;
//     width:32%;
//     float:left;
//     color:inherit;
// }
// .three_columns .article__text + .article__text{
//     margin-left:2%;
// }
// .three_columns .article__text h2, .three_columns .article__text h3, .three_columns .article__text p{
//     color:inherit;
// }
// .three_columns *[data-target]{
//     display:none;
// }


// .wrap{
//     max-width:970px;
//     margin: 0 auto;
// }
// .wrap.wrap_dark{
//     background-color:#2E3E4E;
//     color:#FDFDFD;
// }
// .clear{
//     clear: both;
// }

// .op-button{
//     padding: 6px 14px 4px;
//     border:none;
//     background-color: #d3d3d3;
//     border-bottom: 4px solid #808080;
// }
// .op-button.op-button-primary{
//     background-color:#F89839;
//     border-bottom-color:#F78D24;
//     color:#EBEBEB;
// }
// .op-button.op-button-secondary{}
// .op-button.op-button-disabled{}
// .op-button.op-button-muted{}

/*.op-block{
    background-color:#9655AA;
    color:#FDFDFD;
 }*/
